---
import type { Playlist } from "@/lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;
const artistsString = artists.join(", ");

const style = {
  "--color": color,
} as React.CSSProperties;
---

<a
  transition:name=`box ${id} of ${artistsString}`
  href={`/playlist/${id}`}
  class="playlist-item flex relative pr-4 overflow-hidden items-center gap-4 rounded-md transition-all bg-gradient-to-tl from-dark-weak/60 to-dark-weak/30 hover:bg-dark-weak/100 shadow-dark-weak/10 hover:shadow-dark-weak/20 shadow-sm hover:shadow-md"
>
  <picture class="h-16 w-16 flex-none">
    <img
      transition:name=`cover ${id} of ${artistsString}`
      src={cover}
      alt={`Cover of ${title} by ${artistsString}`}
      class="object-cover w-full h-full rounded-sm"
    />
  </picture>
  <div class="flex flex-auto flex-col truncate h-10 justify-center items-start">
    <h4 class="text-xs text-light-strong font-semibold">
      {title}
    </h4>
  </div>
  <CardPlayButton {...playlist} />
</a>
